/* Estilo para el contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
  }

  .container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 16px;
  }
  
  /* Estilo del card principal */
  .home-card {
    max-width: 400px;
    width: 100%;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
  }
  
  .home-card img.logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .home-card h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .home-card p {
    font-size: 16px;
    color: var(--ion-color-medium);
  }
  
  /* Estilo para el menú lateral */
  .custom-menu {
    --background: var(--ion-color-light);
  }
  
  .custom-menu ion-toolbar {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-light);
  }
  
  .custom-menu ion-list ion-item {
    --background-hover: var(--ion-color-light);
    --color-hover: var(--ion-color-primary);
    --border-radius: 8px;
    margin: 5px 10px;
  }
  
  .custom-menu ion-icon {
    color: var(--ion-color-primary);
  }
  
  .custom-menu ion-label {
    font-weight: bold;
  }
  
  /* Estilo para el botón de menú */
  ion-menu-button {
    --color: var(--ion-color-primary);
  }
  
  .split-content {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }
  
  .left-side, .right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
  
  .split-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 8px;
  }
  
  ion-button {
    width: 80%;
  }
  
  .left-button {
    --background: orange; /* Color de fondo naranja */
    --color: white; /* Texto blanco */
  }
  
  .right-button {
    --background: purple; /* Color de fondo morado */
    --color: white; /* Texto blanco */
  }
  