<!-- Menú lateral -->
<ion-menu side="start" menuId="first" contentId="main-content" class="custom-menu">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item *ngIf="isLoggedIn">
        <ion-icon  slot="start" name="person-outline"></ion-icon>
        <ion-button (click)="perfil()">Perfil</ion-button>
      </ion-item>
      <ion-item *ngIf="isLoggedIn && (isAdmin || isFuncionarioMunicipal)">
        <ion-icon  slot="start" name="create-outline"></ion-icon>
        <ion-button (click)="registrarTaller()">Registrar Taller</ion-button>
      </ion-item>
      <ion-item *ngIf="isLoggedIn && (isAdmin || isFuncionarioMunicipal)">
        <ion-icon slot="start" name="person-add-outline"></ion-icon>
        <ion-button (click)="registrarUsuario()">Registrar Usuario</ion-button>
      </ion-item>
      <ion-item *ngIf="!isLoggedIn">
        <ion-button color="primary" (click)="onLogin()">Iniciar Sesión</ion-button>
      </ion-item>
      <ion-item *ngIf="!isLoggedIn">
        <ion-button color="secondary" (click)="onRegister()">Registrar</ion-button>
      </ion-item>
      <ion-item *ngIf="isLoggedIn" (click)="logout()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        <ion-button>Cerrar Sesión</ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>



<!-- Contenido Principal -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="start">
      <!-- Botón para abrir el menú lateral -->
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-content">
  <div class="container">
    <!-- Primer ion-card -->
    <ion-card>
      <ion-card-content>
        <h2>Bienvenido Municipalidad de Puente Alto</h2>
        <p>
          Navega por las opciones del menú lateral para acceder a las funcionalidades disponibles.
        </p>
      </ion-card-content>
      <img src="assets/img/muni2.jpg" alt="Logo" class="logo" />
    </ion-card>

    <!-- Segundo ion-card dividido en dos lados -->
<ion-card>
  <ion-card-content>
    <div class="split-content">
      <!-- Lado izquierdo -->
      <div class="left-side">
        <img src="assets/img/talleres.png" alt="Imagen izquierda" class="split-image" />
        <ion-button 
          expand="block" 
          class="left-button" 
          *ngIf="isLoggedIn; else loginToTaller"
          (click)="talleres()">
          Talleres Disponibles
        </ion-button>
        <ng-template #loginToTaller>
          <ion-button 
            expand="block" 
            class="left-button" 
            color="primary" 
            (click)="onLogin()">
            Inicia Sesión para Tomar un Taller
          </ion-button>
        </ng-template>
      </div>
      <!-- Lado derecho -->
      <div class="right-side">
        <ion-button 
          expand="block" 
          class="right-button" 
          (click)="postulacion()">
          Postula Aquí
        </ion-button>
      </div>
    </div>
  </ion-card-content>
</ion-card>


  </div>
</ion-content>

